.logo {
    object-fit: cover;
    height: 4rem;
    width: 5rem;
}

.navbar{
    background: rgb(30,30,30);
    height: 5rem;
    width: 100vw;
    max-width: 125rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.desktopMenuListItem {
    margin: 2rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: aqua;
    padding-bottom: .5rem;
    border-bottom: 3px solid aqua;
}